#stats-container {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.standings-table {
    table-layout: fixed;
    width: auto 100%;
    color: #2D2D2A;
    border-radius: 10px;
    border: 3px solid #FE2A3C;
    box-shadow: 0 0 16px #042c499a;
    background-color: white;
    }

.standings-table th, td {
    padding: 16px;
    text-align: center;
}

.standings-table tbody tr:hover {
    background-color: whitesmoke;
   
}

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
}

table thead tr {
    background: #FE2A3C;
    color: white;
}

/* top-left border-radius */
table tr:first-child th:first-child {
border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
border-bottom-right-radius: 6px;
}